Package: merge-sort
Version: 1.0.1
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-pytest, make
Maintainer: David Sosa <dsosavidal@zagmail.gonzaga.edu>
Description: Simple Merge Sort that runs as a service
 This package installs a systemd service that performs a merge sort
 operation on a linked list implemented in Python. It is primarily for
 educational demonstration purposes.
